<h3 class="pb-5"><strong>食品一覧</strong></h3>
<% @foods.each do |f| %>
  <ul>
    <%= f.name %>: 
    <%= f.category.name %>: 
    <% if f.fod == 1 %>
      低
    <% else %>
      高
    <% end %>
  </ul>
<% end %>